body {
  text-align: center;
  background: url(musicbkg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  vertical-align: 100%;
  
  
}
input {
  padding: 0px;
  border-radius: 2px;
  margin:center;
  
}

img {
  height: 120px;
  width: 80%;
}

button {
  text-transform: lowercase;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(34, 55, 126);
  padding: 8px;
  
}


.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}



 h2 {
   font-family: Roboto;
  color: white;
  margin: 0;
  padding: 20px;
}

h3 {
  font-family: Roboto;
 color: white;
 margin: 0;
 padding: 20px;
}


p {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin: 0;
}

.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.cap p {
  padding: 20px;
  color: white;
  font: 12px Monaco, Mono-Space;
  margin: 0;
}

.img {

  width: 25%;
  height: 25%;
}